header {
  background-color: #264653;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo-section {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 70px;
  height: auto;
  margin-right: 15px; 
}

.name-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.title {
  color: white;
  font-size: 14px;
  margin: 0;
}

.contact-info {
  font-size: 16px;
}

.contact {
  margin: 0;
  text-align: right;
  color: #ffffff;
}

.first-section {
  background-color: #264653; 
  height: 100vh; 
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center;
  padding: 0 240px; 
}

.News {
  color: #ffffff;
  font-size: 51px;
  font-weight: bolder;
  margin: 0; 
}

.under {
  font-size: 18px; 
  margin-top: 10px;
  color: #ffffff;
}

.contact-btn {
  background-color: #2a9d8f;
  color: rgb(255, 255, 255);
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  border-radius: 15px;
  margin-top: 20px;
  font-weight: bolder;
}

.contact-btn:hover {
  background-color: #f4a261;
}

.profile-image {
  width: 550px;
  height: auto; 
  border-radius: 50%; 
  margin-left: 20px;
}

.nav-line {
  border: 0;
  height: 2px;
  background-color: #2a9d8f;
  margin: 0;
  width: 100%;
}

.btm-nav{
  color: #ffffff;
  margin-left: 0;
}

.insta-image{
  width: 30px;
  margin: 10px;
}

.fb-image{
  width: 30px;
  margin: 10px;
}

.lin-image{
  width: 30px;
  margin: 10px;
}

.twit-image{
  width: 30px;
  margin: 10px;
}

.yt-image{
  width: 30px;
  margin: 10px;
}