.App-header {
  background-color: #fbfbfb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.first-section {
  background-color: #d7cac4; 
  height: 80vh; 
  display: flex;
  justify-content: center;
  align-items: center; 
}

.News{
color: rgb(0, 0, 0);
text-align: center;
font-size: 51px;
font-weight: bolder;
}